body {
    font-family: poppins, sans-serif;
    background: #f9fbfd;
    color: #34364a;
}

.bg-primary {
    background-color: #615fff !important;
}

.icon-title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #34364a;
    border: 2px solid #34364a;
    width: 18px;
    height: 18px;
    padding: 14px;
    font-size: 18px;
    border-radius: 41%;
    margin-right: 12px;
    margin-bottom: 8px;
}

.breadcrumb .breadcrumb-item a:hover {
    color: #615fff !important;
    text-decoration: none;
}

.is-invalid~.invalid-feedback, .is-invalid~.invalid-tooltip, .was-validated :invalid~.invalid-feedback, .was-validated :invalid~.invalid-tooltip {
    display: inline;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #615fff;
    --bs-btn-border-color: #615fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4f39f6;
    --bs-btn-hover-border-color: #4f39f6;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4f39f6;
    --bs-btn-active-border-color: #4f39f6;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #615fff;
    --bs-btn-disabled-border-color: #615fff;
}

.card-header {
    background-color: var(--bs-card-bg);
}

.table {
    font-size: 15px;
    vertical-align: middle;
}

.table-light {
    --bs-table-border-color: #dfe0e1;
}

.dt-length,
.dt-search {
    margin-bottom: 1rem !important;
}

.dt-info,
.dt-paging {
    margin-top: 1rem !important;
    margin-bottom: .5rem !important;
}

.form-check-input:checked {
  background-color: #615fff;
  border-color: #615fff;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: #615fff;
  border-color: #615fff;
}

.flatpickr-day {
    border-radius: 15px;
}

.page-link {
    position: relative;
    display: block;
    color: #34364A;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-link:hover {
    color: #615fff;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #615fff;
}

.page-item .page-link {
    margin: 0 7px;
    border-radius: .25rem;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    font-weight: 500;
    background-color: #615fff;
}

.page-item:first-child .page-link {
    border-top-left-radius: .75rem;
    border-bottom-left-radius: .75rem;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.page-item:last-child .page-link {
    margin-right: 0;
    border-top-right-radius: .75rem;
    border-bottom-right-radius: .75rem;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.7);
}

.preloader .loading {
    position: absolute;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
    font: 14px arial;
    text-align: center;
}

.loading h3 {
    font-size: 19px;
    margin-bottom: -12px;
}

.loading img {
    margin-top: -50px;
}

.footer .copyright a {
    color: #615fff;
    text-decoration: none;
}

.footer .copyright a:hover {
    color: #4f39f6;
}